@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
  /* background-color: #f2d5cf; */
  background-color: white;
  background: linear-gradient(pink -5%, #fefefe 50%);
  text-align: center;
  font-family: "Segoe UI", monospace;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
  width: 70%;
  height: 1px;
  border: 0;
  border-top: 2px solid #000000;
  padding: 0;
}

a {
  color: #e78284;
}

p {
  word-break: auto-phrase;
}

#puppy {
  float: left;
  width: fit-content;
  height: 100px;
  margin: 0 auto;
  margin-left: 20%;
  padding: 8px 8px;
  border: 1px solid #cccccf;
  border-radius: 16px/24px;
  position: relative;

  background: linear-gradient(#D6FFDB00 0%, #D6FFDB 30%, #66FF00 100%);
  box-shadow: 0 5px 10px #66FF00;
}
#puppy img{
  max-width: 100px;
  border: 1px solid grey;
  border-radius: 5px;
}

p {
  margin-left: 30%;
  margin-right: 30%
}

#name{
  color: black;
  text-align: left;
  width: 50%;
  margin-left: 37.5%;
  font-size: xxx-large;
  font-weight: 100;
  b {
    font-weight: 500;
  }
}

#nav {
    display:block;
    text-align: left;
    margin-left: 20%;
    a {
      color: grey;
      text-decoration: none;
    }
}

.card-wrap {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 50%;
}

.subtitle {
  color: blueviolet;
}

.date-time {
  font-weight: bolder;
  font-size: 13px;
}

.blog-para {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  height: 100px;
}

.em {
  display: inline;
  margin-bottom: -3.5px;

}

#badges {
  display: inline-flex;
  flex-direction: row;
  img {
    max-height: 64px;
  }
  figcaption {
    font-size: 12px;
  }
}